stamp-h1
mkinstalldirs
missing
ltmain.sh
libtool
intltool-*
install-sh
gtk-doc.make
diff
depcomp
configure
config.*
compile
ccc.pc
ccc-*.pc
cc-config.h*
autom4te.cache
aclocal.m4
INSTALL
Makefile
Makefile.in
